.header {
    background-color: var(--color-mallard);
    color: var(--color-off-yellow);
}

.header>* {
    padding: 0 var(--spacing-xs);
}

.header__nav {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-m) 0;
    gap: var(--spacing-xs);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo__container {
    width: 9.6rem;
}

.links__page,
.links__language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
}


.links__language {
    flex-direction: row;
}

.links__page a,
.links__language a {
    font-size: 2rem;
    color: var(--color-off-yellow);
}

.banner {
    position: relative;
    height: 100vh;
    width: auto;
}

.banner__image,
.banner__overlay,
.banner__title-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner__image {
    object-fit: cover;
}

.banner__overlay {
    background-color: var(--color-black);
    opacity: 0.3;
}

.banner__title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.banner__title,
.banner__subtitle {
    font-family: 'Magilio', serif;
}

.banner__title {
    display: inline-block;
    margin-top: 20vh;
    font-size: 5.8rem;
    color: var(--color-off-yellow);
    letter-spacing: 4px;
}

.banner__subtitle {
    color: var(--color-off-yellow);
    font-size: var(--font-size-s);
    margin-top: var(--spacing-xs);
}


@media screen and (min-width: 768px) {
    .header__nav {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 0 var(--spacing-l);

    }

    .links__page,
    .links__language {
        flex-direction: row;
        gap: var(--spacing-l);
    }

}