.header {
    background-color: var(--color-mallard);
    color: var(--color-off-yellow);
}

.header>* {
    padding: 0 var(--spacing-xs);
}

.header__nav {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-m) 0;
    gap: var(--spacing-xs);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo__container {
    width: 9.6rem;
}

.links__page,
.links__language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
}


.links__language {
    flex-direction: row;
}

.links__page a,
.links__language a {
    font-size: 2rem;
    color: var(--color-off-yellow);
}

@media screen and (min-width: 768px) {
    .header__nav {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: var(--spacing-s) var(--spacing-l);

    }

    .links__page,
    .links__language {
        flex-direction: row;
        gap: var(--spacing-l);
    }

}