html {
    scroll-behavior: smooth;
}

a:hover {
    font-weight: var(--font-weight-bold);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-title);
}

.header,
.footer {
    background-color: var(--color-mallard);
    color: var(--color-off-yellow);
}

.header>* {
    padding: 0 var(--spacing-xs);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-m) var(--spacing-s);
    gap: var(--spacing-xs);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo__container {
    width: 9.6rem;
}

.links__page,
.links__language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
}

.links__language {
    flex-direction: row;
}

.links__page a,
.links__language a {
    font-size: var(--font-size-xs);
    color: var(--color-off-yellow);
}

.footer {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-l) 0;
    justify-content: center;
    align-items: center;
}

.footer__information {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: var(--spacing-l);
    font-size: var(--font-size-xs);
    gap: var(--spacing-m);
    width: 100%;
}

.footer__title {
    justify-content: center;
    font-size: var(--font-size-xs);
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.information__title {
    margin-bottom: var(--spacing-s);
}

@media screen and (min-width: 768px) {
    .header__nav {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 0 var(--spacing-l);
    }

    .links__page,
    .links__language {
        flex-direction: row;
        gap: var(--spacing-l);
    }

    .links__page a,
    .links__language a,
    .footer,
    .footer__title {
        font-size: 2rem;
    }
}