.banner {
    position: relative;
    height: 100vh;
    width: auto;
}

.banner__image,
.banner__overlay,
.banner__title-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner__image {
    object-fit: cover;
}

.banner__overlay {
    background-color: var(--color-black);
    opacity: 0.3;
}

.banner__title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 var(--spacing-xs);
}

.banner__title,
.banner__subtitle {
    font-family: 'Magilio', serif;
    text-align: center;
}

.banner__title {
    display: inline-block;
    margin-top: 20vh;
    font-size: 5.8rem;
    color: var(--color-off-yellow);
    letter-spacing: 4px;
}

.banner__subtitle {
    color: var(--color-off-yellow);
    font-size: var(--font-size-s);
    margin-top: var(--spacing-xs);
    letter-spacing: 2px;
}

.places {
    margin: 7.2rem var(--spacing-xl) var(--spacing-xl);
}

.places__introduction {
    text-align: center;
    padding: 0 var(--spacing-m);
}

.places__content {
    margin-top: var(--spacing-xl);
    display: flex;
    flex-direction: column;
}

.place {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
}

.place:not(:first-child) {
    margin-top: 7.2rem;
}

.place__text {
    flex: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: var(--spacing-m) var(--spacing-s);
    border-radius: 10px;
    border: 2px solid var(--color-chalet-green);
}

.place__paragraph {
    margin-top: var(--spacing-m);
}

.place__photo {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 2;
    justify-content: center;
}

.place__photo-container {
    border-radius: 10px;
    overflow: hidden;
}

.place__link {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-s);
    border-radius: 10px;
    color: var(--color-off-yellow);
    background-color: var(--color-mallard);
    margin-top: var(--spacing-m);
    max-width: 12.8rem;
}

@media screen and (min-width: 768px) {
    .place {
        flex-direction: row;
    }

    .place:nth-child(even) .place__text {
        order: 2;
    }

    .place:nth-child(even) .place__photo {
        order: 1;
    }
}